# PANDAS_FUNCTION_TEST_CODE

### 函式庫介紹  
會使用到Pandas以及Numpy兩個函式庫, 其中Pandas背後的數值型態都是Numpy.

In [3]:
import pandas as pd
import numpy as np

### Pandas資料結構  
1. Series欄位(一維)  
2. DataFrame表格(二維)  
3. Panel三圍表格(三維)

#### Series欄位  
利用pd.Series()函數放入list, 便能創建一個Series, 若不指定index預設為0,1,2,3,4..., 若要指定, index參數那裡可以多輸入一個list.

In [8]:
s1 = pd.Series([1, 3, 6, np.nan, 44, 1]) #不指定index
s1

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [10]:
s2 = pd.Series([1, 2, 3], index={'a', 'b', 'c'}) #指定index
s2

a    1
b    2
c    3
dtype: int64

#### DataFrame表格

In [7]:
s1 = pd.Series([1, 1, 2, 1, 2, 2, 3])
s2 = pd.Series([201301, 201301, 201301, 201302, 201302, 201302, 201302])
table = pd.DataFrame(
    {
        'CLIENTCODE': s1,
        'YEARMONTH': s2
    })
table

   CLIENTCODE  YEARMONTH
0           1     201301
1           1     201301
2           2     201301
3           1     201302
4           2     201302
5           2     201302
6           3     201302

##### 想要groupby日期(or某個欄位), 且想計算某欄位「不重複的項有幾個」時

In [8]:
table.groupby('YEARMONTH').CLIENTCODE.nunique()

YEARMONTH
201301    2
201302    3
Name: CLIENTCODE, dtype: int64