In [157]:
import pandas as pd
df = pd.read_csv('./data/AQIofLunbei_2017.csv')
df.head()

,日期,測站,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,2017/01/01,崙背,AMB_TEMP,9.4,11,12,17,17,17,17,...,23,22,21,20,20,20,20,20,20,20
1,2017/01/01,崙背,CO,0.35,0.3,0.38,0.39,0.39,0.45,0.63,...,0.2,0.16,0.2,0.25,0.24,0.25,0.22,0.2,0.22,0.22
2,2017/01/01,崙背,NO,2.1,2,2.9,10,6,13,21,...,2.5,2.4,2.3,2.2,2.2,2.2,2,2,2.2,2.2
3,2017/01/01,崙背,NO2,14,13,14,14,14,17,17,...,9,6.2,11,15,14,11,8.8,9.5,9.6,8.3
4,2017/01/01,崙背,NOx,16,15,17,25,20,30,38,...,11,8.6,13,18,16,13,11,11,12,10

In [158]:
df.shape

(6205, 27)

每 17 個重複一次。
欄位資訊如下：

測項簡稱|單位|測項名稱
:-----:|--:|:-------
AMB_TEMP|℃|大氣溫度
CO|ppm|一氧化碳
NO|ppb|一氧化氮
NO2|ppb|二氧化氮
NOX|ppb|氮氧化物
O3|ppb|臭氧
PH_RAIN|pH|酸鹼值(酸雨)
PM10|μg/m3|懸浮微粒
PM2.5|μg/m3|細懸浮微粒
RAINFALL|mm|雨量
RAIN_COND|μS/cm|導電度(酸雨)
RH|%|相對溼度
SO2|ppb|二氧化硫
WD_HR|degress|風向小時值(以整個小時向量平均)
WIND_DIREC|degress|風向(以每小時最後10分鐘向量平均)
WIND_SPEED|m/sec|風速(以每小時最後10分鐘算術平均)
WS_HR|m/sec|風速小時值(以整個小時算術平均)

In [159]:
resultdict = {}
for i in range(0, 17):
    templist = []
    print("開始 {0} 欄位萃取".format(df.iloc[i, 2]))
    for j in range(i, len(df), 17):
        for k in df.iloc[j, 3:]:
            templist.append(k)
    resultdict[df.iloc[i, 2]] = templist
    print("完成 {0} 欄位萃取".format(df.iloc[i, 2]))
    print("--------------------")
df_r = pd.DataFrame(resultdict)

開始 AMB_TEMP 欄位萃取
完成 AMB_TEMP 欄位萃取
--------------------
開始 CO 欄位萃取
完成 CO 欄位萃取
--------------------
開始 NO 欄位萃取
完成 NO 欄位萃取
--------------------
開始 NO2 欄位萃取
完成 NO2 欄位萃取
--------------------
開始 NOx 欄位萃取
完成 NOx 欄位萃取
--------------------
開始 O3 欄位萃取
完成 O3 欄位萃取
--------------------
開始 PH_RAIN 欄位萃取
完成 PH_RAIN 欄位萃取
--------------------
開始 PM10 欄位萃取
完成 PM10 欄位萃取
--------------------
開始 PM2.5 欄位萃取
完成 PM2.5 欄位萃取
--------------------
開始 RAINFALL 欄位萃取
完成 RAINFALL 欄位萃取
--------------------
開始 RAIN_COND 欄位萃取
完成 RAIN_COND 欄位萃取
--------------------
開始 RH 欄位萃取
完成 RH 欄位萃取
--------------------
開始 SO2 欄位萃取
完成 SO2 欄位萃取
--------------------
開始 WD_HR 欄位萃取
完成 WD_HR 欄位萃取
--------------------
開始 WIND_DIREC 欄位萃取
完成 WIND_DIREC 欄位萃取
--------------------
開始 WIND_SPEED 欄位萃取
完成 WIND_SPEED 欄位萃取
--------------------
開始 WS_HR 欄位萃取
完成 WS_HR 欄位萃取
--------------------

In [160]:
df_r.head()

,AMB_TEMP,CO,NO,NO2,NOx,O3,PH_RAIN,PM10,PM2.5,RAINFALL,RAIN_COND,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,9.4,0.35,2.1,14,16,7.2,NR,52x,12,NR,NR,98,2.3,145,157,1.1,0.5
1,11,0.3,2,13,15,6.8,NR,59x,11,NR,NR,98,1.9,159,150,1.1,0.7
2,12,0.38,2.9,14,17,3.3,NR,64x,10,NR,NR,98,1.6,137,120,0.9,0.8
3,17,0.39,10,14,25,1.7,NR,66x,7,NR,NR,98,1.6,96,107,0.5,0.6
4,17,0.39,6,14,20,2.5,NR,39x,10,NR,NR,98,1.6,77,62,1.1,0.7

In [161]:
df_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 17 columns):
AMB_TEMP      8711 non-null object
CO            8711 non-null object
NO            8705 non-null object
NO2           8698 non-null object
NOx           8705 non-null object
O3            8708 non-null object
PH_RAIN       8709 non-null object
PM10          8658 non-null object
PM2.5         8683 non-null object
RAINFALL      8711 non-null object
RAIN_COND     8709 non-null object
RH            8711 non-null object
SO2           8708 non-null object
WD_HR         8711 non-null object
WIND_DIREC    8710 non-null object
WIND_SPEED    8710 non-null object
WS_HR         8711 non-null object
dtypes: object(17)
memory usage: 1.1+ MB

In [162]:
df_r[df_r == "NR"].count()

AMB_TEMP         0
CO               0
NO               0
NO2              0
NOx              0
O3               0
PH_RAIN       8317
PM10             0
PM2.5            0
RAINFALL      8237
RAIN_COND     8319
RH               0
SO2              0
WD_HR            0
WIND_DIREC       0
WIND_SPEED       0
WS_HR            0
dtype: int64

In [163]:
print("Item".ljust(10), "|", "*".rjust(4), "#".rjust(4), "x".rjust(4), "NR".rjust(4), "NAN".rjust(4))
print("-------------------------------------")
for i in df_r:
    print(i.ljust(10), "|", \
          str(df_r[i].str.contains("x", na=False).sum()).rjust(4), \
          str(df_r[i].str.contains("#", na=False).sum()).rjust(4), \
          str(df_r[i].str.contains("*", na=False, regex=False).sum()).rjust(4), \
          str(df_r[i].str.contains("NR", na=False).sum()).rjust(4), \
          str(df_r[i].isnull().sum()).rjust(4))

Item       |    *    #    x   NR  NAN
-------------------------------------
AMB_TEMP   |   31    8    0    0   49
CO         |    5   63    5    0   49
NO         |  138  101   40    0   55
NO2        |  138   94   40    0   62
NOx        |  138  101   40    0   55
O3         |    2   56    1    0   52
PH_RAIN    |   18    0    1 8317   51
PM10       |   81   81   21    0  102
PM2.5      |   15   53   37    0   77
RAINFALL   |    0   31    0 8237   49
RAIN_COND  |   18    0    1 8319   51
RH         |    1    6    1    0   49
SO2        |    2   58    0    0   52
WD_HR      |    0   16    0    0   49
WIND_DIREC |    0   13    0    0   50
WIND_SPEED |    0   11    0    0   50
WS_HR      |    0   14    0    0   49

將無效值全部變成NAN，並填入平均值。

In [164]:
df_r.head()

,AMB_TEMP,CO,NO,NO2,NOx,O3,PH_RAIN,PM10,PM2.5,RAINFALL,RAIN_COND,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,9.4,0.35,2.1,14,16,7.2,NR,52x,12,NR,NR,98,2.3,145,157,1.1,0.5
1,11,0.3,2,13,15,6.8,NR,59x,11,NR,NR,98,1.9,159,150,1.1,0.7
2,12,0.38,2.9,14,17,3.3,NR,64x,10,NR,NR,98,1.6,137,120,0.9,0.8
3,17,0.39,10,14,25,1.7,NR,66x,7,NR,NR,98,1.6,96,107,0.5,0.6
4,17,0.39,6,14,20,2.5,NR,39x,10,NR,NR,98,1.6,77,62,1.1,0.7

In [204]:
df_r_invalid = df_r.copy()

import numpy as np

for i in df_r_invalid:
    df_r_invalid[i][df_r_invalid[i].str.contains("x", na=False)==True] = np.NAN
    df_r_invalid[i][df_r_invalid[i].str.contains("#", na=False)==True] = np.NAN
    df_r_invalid[i][df_r_invalid[i].str.contains("*", na=False, regex=False)==True] = np.NAN
    df_r_invalid[i][df_r_invalid[i].str.contains("NR", na=False)==True] = np.NAN

df_r_invalid.head()

,AMB_TEMP,CO,NO,NO2,NOx,O3,PH_RAIN,PM10,PM2.5,RAINFALL,RAIN_COND,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,9.4,0.35,2.1,14,16,7.2,NaN,NaN,12,NaN,NaN,98,2.3,145,157,1.1,0.5
1,11,0.3,2,13,15,6.8,NaN,NaN,11,NaN,NaN,98,1.9,159,150,1.1,0.7
2,12,0.38,2.9,14,17,3.3,NaN,NaN,10,NaN,NaN,98,1.6,137,120,0.9,0.8
3,17,0.39,10,14,25,1.7,NaN,NaN,7,NaN,NaN,98,1.6,96,107,0.5,0.6
4,17,0.39,6,14,20,2.5,NaN,NaN,10,NaN,NaN,98,1.6,77,62,1.1,0.7

In [210]:
df_r_invalid = df_r_invalid.convert_objects(convert_numeric=True)

/home/sopper/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [212]:
df_r_invalid.mean()

AMB_TEMP       24.558164
CO              0.283669
NO              1.789354
NO2             9.954201
NOx            11.739580
O3             31.904636
PH_RAIN         6.039678
PM10           57.441888
PM2.5          26.989858
RAINFALL        3.989165
RAIN_COND      40.491105
RH             78.014018
SO2             2.836274
WD_HR         160.733571
WIND_DIREC    163.409475
WIND_SPEED      2.784952
WS_HR           2.003656
dtype: float64

In [213]:
df_r_invalid = df_r_invalid.fillna(df_r_invalid.mean())
df_r_invalid.head()

,AMB_TEMP,CO,NO,NO2,NOx,O3,PH_RAIN,PM10,PM2.5,RAINFALL,RAIN_COND,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,9.4,0.35,2.1,14.0,16.0,7.2,6.039678,57.441888,12.0,3.989165,40.491105,98.0,2.3,145.0,157.0,1.1,0.5
1,11.0,0.30,2.0,13.0,15.0,6.8,6.039678,57.441888,11.0,3.989165,40.491105,98.0,1.9,159.0,150.0,1.1,0.7
2,12.0,0.38,2.9,14.0,17.0,3.3,6.039678,57.441888,10.0,3.989165,40.491105,98.0,1.6,137.0,120.0,0.9,0.8
3,17.0,0.39,10.0,14.0,25.0,1.7,6.039678,57.441888,7.0,3.989165,40.491105,98.0,1.6,96.0,107.0,0.5,0.6
4,17.0,0.39,6.0,14.0,20.0,2.5,6.039678,57.441888,10.0,3.989165,40.491105,98.0,1.6,77.0,62.0,1.1,0.7

In [214]:
df_r_invalid.corr()

,AMB_TEMP,CO,NO,NO2,NOx,O3,PH_RAIN,PM10,PM2.5,RAINFALL,RAIN_COND,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
AMB_TEMP,1.000000,-0.548894,-0.125245,-0.491513,-0.449503,0.077867,-0.026469,-0.186119,-0.261026,0.021005,0.006667,-0.121258,-0.080415,0.395599,0.379658,-0.200301,0.114190
CO,-0.548894,1.000000,0.349823,0.794165,0.774817,-0.012503,0.061825,0.311971,0.605915,-0.053225,0.007149,-0.005887,0.516860,-0.228087,-0.199660,-0.025648,-0.255823
NO,-0.125245,0.349823,1.000000,0.368213,0.635064,-0.239332,0.004303,0.037605,0.130869,-0.003585,0.004636,0.056632,0.237777,-0.115526,-0.095139,-0.085672,-0.135150
NO2,-0.491513,0.794165,0.368213,1.000000,0.950719,-0.223634,0.052684,0.233703,0.423323,-0.051965,0.014780,0.083951,0.550495,-0.222114,-0.211005,-0.105205,-0.281324
NOx,-0.449503,0.774817,0.635064,0.950719,1.000000,-0.264894,0.045673,0.205994,0.394269,-0.044449,0.013719,0.088515,0.535370,-0.222974,-0.206244,-0.115391,-0.278053
O3,0.077867,-0.012503,-0.239332,-0.223634,-0.264894,1.000000,-0.012954,0.250251,0.286011,0.014142,0.034058,-0.628280,0.202853,0.274469,0.255238,0.365807,0.197848
PH_RAIN,-0.026469,0.061825,0.004303,0.052684,0.045673,-0.012954,1.000000,0.003580,0.024821,-0.346517,0.098115,-0.012290,0.018571,-0.007590,0.001052,-0.025962,-0.036754
PM10,-0.186119,0.311971,0.037605,0.233703,0.205994,0.250251,0.003580,1.000000,0.502340,-0.007536,0.010315,-0.244656,0.247029,-0.071386,-0.085446,0.293242,0.291438
PM2.5,-0.261026,0.605915,0.130869,0.423323,0.394269,0.286011,0.024821,0.502340,1.000000,-0.022302,0.025621,-0.169635,0.376257,0.019918,0.015799,-0.071314,-0.180217
RAINFALL,0.021005,-0.053225,-0.003585,-0.051965,-0.044449,0.014142,-0.346517,-0.007536,-0.022302,1.000000,-0.051091,0.008444,-0.025287,0.011508,-0.000155,0.007536,0.015173
RAIN_COND,0.006667,0.007149,0.004636,0.014780,0.013719,0.034058,0.098115,0.010315,0.025621,-0.051091,1.000000,-0.044777,0.009603,0.008024,0.010281,0.014527,0.008512
RH,-0.121258,-0.005887,0.056632,0.083951,0.088515,-0.628280,-0.012290,-0.244656,-0.169635,0.008444,-0.044777,1.000000,-0.293370,-0.184618,-0.195374,-0.411350,-0.321148
SO2,-0.080415,0.516860,0.237777,0.550495,0.535370,0.202853,0.018571,0.247029,0.376257,-0.025287,0.009603,-0.293370,1.000000,0.074653,0.058949,0.095390,-0.097380
WD_HR,0.395599,-0.228087,-0.115526,-0.222114,-0.222974,0.274469,-0.007590,-0.071386,0.019918,0.011508,0.008024,-0.184618,0.074653,1.000000,0.710269,-0.045522,0.001008
WIND_DIREC,0.379658,-0.199660,-0.095139,-0.211005,-0.206244,0.255238,0.001052,-0.085446,0.015799,-0.000155,0.010281,-0.195374,0.058949,0.710269,1.000000,-0.059400,-0.003126
WIND_SPEED,-0.200301,-0.025648,-0.085672,-0.105205,-0.115391,0.365807,-0.025962,0.293242,-0.071314,0.007536,0.014527,-0.411350,0.095390,-0.045522,-0.059400,1.000000,0.709167
WS_HR,0.114190,-0.255823,-0.135150,-0.281324,-0.278053,0.197848,-0.036754,0.291438,-0.180217,0.015173,0.008512,-0.321148,-0.097380,0.001008,-0.003126,0.709167,1.000000

In [135]:
df_r_invalid.corr()

Empty DataFrame
Columns: []
Index: []

In [113]:
import numpy as np
df1 = pd.DataFrame({'A':np.random.randint(1, 100, 10),
     'B':np.random.randint(1, 100, 10),
     'C':np.random.randint(1, 100, 10)})
df1.corr()  # pearson相关系数

          A         B         C
A  1.000000  0.433372 -0.474580
B  0.433372  1.000000 -0.137558
C -0.474580 -0.137558  1.000000

In [115]:
df1.dtypes

A    int64
B    int64
C    int64
dtype: object

## Main

In [9]:
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [10]:
import pandas as pd
df = pd.read_csv('./data/AQIofLunbei_2017.csv')