# shoppingBehaviorByMemberId  
1. 僅取 MemberId.csv 中需要的部份

In [1]:
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## MemberId.csv 之處理

In [2]:
import pandas as pd
df_memId = pd.read_csv('data/newData/Member.csv')
df_memId.head()

/home/sopper/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,MemberId,Birthday,GenderTypeDef,RegisterSourceTypeDef,RegisterDateTime,MinOrderDate,OpenCardPresent,LastBirthdayPresentYear,IsInBlackList
0,1587633,NaN,NaN,Web,2016-08-05 19:45:59.670,NaN,0,0,NaN
1,1587634,NaN,NaN,Web,2016-10-27 21:25:22.907,NaN,0,0,NaN
2,1587658,NaN,NaN,Web,2015-08-11 19:11:09.030,NaN,0,0,NaN
3,1587809,NaN,NaN,Web,2015-08-11 19:53:32.397,NaN,0,0,NaN
4,1587830,NaN,NaN,Web,2017-06-03 17:33:03.987,NaN,0,0,NaN

### 資料清理  
1. IsInBlackList: NAN -> 0

In [3]:
s_IsInBlackList = df_memId['IsInBlackList'].copy().fillna(0)
s_IsInBlackList.head()

0    0
1    0
2    0
3    0
4    0
Name: IsInBlackList, dtype: object

### 缺漏值計算

In [4]:
sumOfData = len(df_memId)
print('資料總量：', sumOfData)
print('-----------------')
s = df_memId.isnull().sum()
for i in range(len(s)):
    print(s.index[i], ':')
    print('  缺失資料量：{0}'.format(s[i]))
    print('  資料缺失比率：{0:.2f}%'.format(s[i]/sumOfData*100))
    print('-------')

資料總量： 859146
-----------------
MemberId :
  缺失資料量：0
  資料缺失比率：0.00%
-------
Birthday :
  缺失資料量：621871
  資料缺失比率：72.38%
-------
GenderTypeDef :
  缺失資料量：621870
  資料缺失比率：72.38%
-------
RegisterSourceTypeDef :
  缺失資料量：30003
  資料缺失比率：3.49%
-------
RegisterDateTime :
  缺失資料量：0
  資料缺失比率：0.00%
-------
MinOrderDate :
  缺失資料量：296846
  資料缺失比率：34.55%
-------
OpenCardPresent :
  缺失資料量：0
  資料缺失比率：0.00%
-------
LastBirthdayPresentYear :
  缺失資料量：0
  資料缺失比率：0.00%
-------
IsInBlackList :
  缺失資料量：858142
  資料缺失比率：99.88%
-------

### 欄位選取
1. MemberId
2. RegisterSourceTypeDef
3. IsInBlackList

In [5]:
df_result = pd.DataFrame()
df_result['MemberId'] = df_memId['MemberId'].copy()
df_result['RegisterSourceTypeDef'] = df_memId['RegisterSourceTypeDef'].copy()
df_result['IsInBlackList'] = s_IsInBlackList.copy()
df_result.head()

   MemberId RegisterSourceTypeDef IsInBlackList
0   1587633                   Web             0
1   1587634                   Web             0
2   1587658                   Web             0
3   1587809                   Web             0
4   1587830                   Web             0

## Orders.csv

In [6]:
df_orders = pd.read_csv('data/proData/order_train.csv', index_col=False)
df_orders.shape

/home/sopper/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2745854, 28)

### 計算缺漏值

In [7]:
sumOfData = len(df_orders)
print('資料總量：', sumOfData)
print('-----------------')
s = df_orders.isnull().sum()
for i in range(len(s)):
    print(s.index[i], ':')
    print('  缺失資料量：{0}'.format(s[i]))
    print('  缺失比率：{0:.2f}%'.format(s[i]/sumOfData*100))
    print('-------')

資料總量： 2745854
-----------------
DateId :
  缺失資料量：0
  缺失比率：0.00%
-------
MemberId :
  缺失資料量：0
  缺失比率：0.00%
-------
OrderGroupCode :
  缺失資料量：0
  缺失比率：0.00%
-------
TrackSourceTypeDef :
  缺失資料量：0
  缺失比率：0.00%
-------
TrackDeviceTypeDef :
  缺失資料量：0
  缺失比率：0.00%
-------
PayProfileTypeDef :
  缺失資料量：0
  缺失比率：0.00%
-------
SalesOrderSlaveId :
  缺失資料量：0
  缺失比率：0.00%
-------
SalePageId :
  缺失資料量：0
  缺失比率：0.00%
-------
IsMajor :
  缺失資料量：0
  缺失比率：0.00%
-------
IsGift :
  缺失資料量：0
  缺失比率：0.00%
-------
IsSalePageGift :
  缺失資料量：0
  缺失比率：0.00%
-------
Quantity :
  缺失資料量：0
  缺失比率：0.00%
-------
UnitPrice :
  缺失資料量：0
  缺失比率：0.00%
-------
PromotionDiscount :
  缺失資料量：0
  缺失比率：0.00%
-------
ECouponId :
  缺失資料量：0
  缺失比率：0.00%
-------
ECouponDiscount :
  缺失資料量：0
  缺失比率：0.00%
-------
SalesOrderSlaveTotalPayment :
  缺失資料量：0
  缺失比率：0.00%
-------
SalesOrderSlaveDateTime :
  缺失資料量：0
  缺失比率：0.00%
-------
SalesOrderReceiverId :
  缺失資料量：0
  缺失比率：0.00%
-------
City :
  缺失資料量：5
  缺失比率：0.00%
-------
District :
  缺失資料量：663453
  缺失比率：24.16%
-------
ZipCode :
  缺失資料量：5
  缺失比率：0.00%
-------
StoreName :
  缺失資料量：248621
  缺失比率：9.05%
-------
StoreId :
  缺失資料量：248621
  缺失比率：9.05%
-------
DeliverTypeDef :
  缺失資料量：0
  缺失比率：0.00%
-------
StatusDef :
  缺失資料量：0
  缺失比率：0.00%
-------
ReturnGoodsDateId :
  缺失資料量：2604579
  缺失比率：94.85%
-------
CauseDef :
  缺失資料量：2604579
  缺失比率：94.85%
-------

### 將 City 轉換

#### 查看City種類

In [8]:
cityData = df_orders['City'].copy().drop_duplicates()
for value in cityData.values:
    print(value, " : ", len(df_orders[df_orders['City'] == value]))

嘉義縣  :  33122
桃園市  :  293781
台南市  :  199102
新北市  :  586398
新竹市  :  72752
台北市  :  346845
苗栗縣  :  53119
台中市  :  398822
高雄市  :  283934
彰化縣  :  98326
屏東縣  :  61228
新竹縣  :  63504
宜蘭縣  :  42671
花蓮縣  :  33682
台東縣  :  17075
基隆市  :  43860
雲林縣  :  43296
南投縣  :  36523
嘉義市  :  27167
台東市  :  218
澎湖縣  :  9894
屏東市  :  381
New  :  17
<fo  :  18
Kao  :  3
Kot  :  2
Tao  :  10
Hy   :  3
nan  :  0
25   :  3
Keb  :  1
1st  :  16
Ins  :  2
Tai  :  4
桃園縣  :  45
Đại  :  1
Cha  :  1
Xin  :  4
Quậ  :  2
Nan  :  8
No.  :  3
Hsi  :  2
Daf  :  1
Aya  :  1
Jia  :  2

#### 清除混雜的資料
* New -> 新北市
* fo  -> NAN
* Kao -> 高雄市
* Kot -> NAN
* Tao -> 桃園市
* Hy  -> NAN
* nan -> NAN
* 25  -> NAN
* Keb -> NAN
* 1st -> NAN
* Tai -> NAN
* Ins -> NAN
* 桃園縣 -> 桃園市
* Đại -> NAN
* Cha -> 彰化縣
* Xin -> NAN
* Quậ -> NAN
* Nan -> NAN
* No. -> NAN
* Hsi -> 新竹市
* Daf -> NAN
* Aya -> NAN
* Jia -> 嘉義縣

In [9]:
import numpy as np

In [10]:
cityCl_dict = {
    "New" : "新北市",
    "<fo" : np.NAN,
    "Kao" : "高雄市",
    "Kot" : np.NAN,
    "Tao" : "桃園市",
    "Hy " : np.NAN,
    "nan" : np.NAN,
    "25 " : np.NAN,
    "Keb" : np.NAN,
    "1st" : np.NAN,
    "Tai" : np.NAN,
    "Ins" : np.NAN,
    "桃園縣" : "桃園市",
    "Đại" : np.NAN,
    "Cha" : "彰化縣",
    "Xin" : np.NAN,
    "Quậ" : np.NAN,
    "Nan" : np.NAN,
    "No." : np.NAN,
    "Hsi" : "新竹市",
    "Daf" : np.NAN,
    "Aya" : np.NAN,
    "Jia" : "嘉義縣"
}
cityCl_dict

{'1st': nan,
 '25 ': nan,
 '<fo': nan,
 'Aya': nan,
 'Cha': '彰化縣',
 'Daf': nan,
 'Hsi': '新竹市',
 'Hy ': nan,
 'Ins': nan,
 'Jia': '嘉義縣',
 'Kao': '高雄市',
 'Keb': nan,
 'Kot': nan,
 'Nan': nan,
 'New': '新北市',
 'No.': nan,
 'Quậ': nan,
 'Tai': nan,
 'Tao': '桃園市',
 'Xin': nan,
 'nan': nan,
 'Đại': nan,
 '桃園縣': '桃園市'}

In [11]:
s = df_orders['City'].copy()
for i in cityCl_dict:
    s[s==i]=cityCl_dict[i]
df_orders['City'] = s

#### 檢查

In [12]:
cityData = df_orders['City'].copy().drop_duplicates()
s = df_orders['City'].isnull().sum()
for value in cityData.values:
    print(value, " : ", len(df_orders[df_orders['City'] == value]))
print("NAN: ", s)

嘉義縣  :  33124
桃園市  :  293836
台南市  :  199102
新北市  :  586415
新竹市  :  72754
台北市  :  346845
苗栗縣  :  53119
台中市  :  398822
高雄市  :  283937
彰化縣  :  98327
屏東縣  :  61228
新竹縣  :  63504
宜蘭縣  :  42671
花蓮縣  :  33682
台東縣  :  17075
基隆市  :  43860
雲林縣  :  43296
南投縣  :  36523
嘉義市  :  27167
台東市  :  218
澎湖縣  :  9894
屏東市  :  381
nan  :  0
NAN:  74

(暫不做)
#### 縣市對應
* 嘉義縣  :  city01
* 桃園市  :  city02
* 台南市  :  city03
* 新北市  :  city04
* 新竹市  :  city05
* 台北市  :  city06
* 苗栗縣  :  city07
* 台中市  :  city08
* 高雄市  :  city09
* 彰化縣  :  city10
* 屏東縣  :  city11
* 新竹縣  :  city12
* 宜蘭縣  :  city13
* 花蓮縣  :  city14
* 雲林縣  :  city15
* 台東縣  :  city16
* 基隆市  :  city17
* 南投縣  :  city18
* 嘉義市  :  city19
* 台東市  :  city20
* 澎湖縣  :  city21
* 屏東市  :  city22